.menu-bar{
    background-color: white;
    color: black;
    position: fixed;
    z-index: 10;
    top: 0;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.158);
}

.head-brand{
    display: block;
    padding: 10px;
}

.head-brand img{
    width: 50px;
    height: 50px;
}

.head-link ul, .account ul{
    list-style-type: none;
}

.head-link li, .account li{
    float: left;
}

.head-link li a, .account li a{
    color: black;
    padding: 20px 30px;
    font-size: 23px;
    display: block;
}

.head-link li a:hover, .account li a:hover, .head-brand:hover{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.head-link-active i{
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: DodgerBlue;
}

.profile{
    text-align: center;
}

.user-profile{
    font-size: 80px;
}

.dropdown .dropdown-menu{
    padding: 12px;
    min-width: 15em;
    border-radius: 13px;
    text-align: center;
}

.dropdown .dropdown-item{
    font-size: 16px;
    padding: 6px 10px;
    color: black;
    border-radius: 10px;
}

.dropdown .dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
}

.dropdown .dropdown-menu{
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.158);
}

.dropdown .dropdown-menu .signin-button{
    margin-top: 13px;
}

.dropdown .dropdown-menu .signin-button .btn{
    width: 100%
}

.dropdown .dropdown-menu .signin-btn{
    background-color: dodgerblue;
    color: white;
}

.dropdown .dropdown-menu .signin-btn:hover{
    background-color: rgb(27, 127, 228);
}

.dropdown .dropdown-menu .dropdown-title{
    margin-top: 10px;
}

.dropdown .dropdown-menu .dropdown-description{
    color: gray;
    font-size: 14px;
}

.sidebar-m{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    position: fixed;
    height: 100%;
    right: 0;
    z-index: 20;
    padding-top: 20px;
    transition: visibility 0.2s ease, opacity 0.2s ease, width 0.2s ease-out;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    width: 200px;
}

.visible{
    visibility: visible;
    opacity: 1;
    width: 300px;
}

.sidebar-m ul{
    list-style: none;
    padding: 0px;
}

.sidebar-m li a{
    color: black;
    display: block;
    padding: 18px;
}

.sidebar-m li a i{
    margin-right: 1em;
}

.sidebar-m li a:hover{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
}